{{ "<!-- SIGN -->" | safeHTML }}
<section class="bg-primary" id="action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ i18n "action_headline" }}</h2>
                <hr class="light">
                <p id="actionintro">{{ i18n "action_intro" | markdownify }}</p>
                <p><strong>{{ i18n "action_demand" | markdownify }}</strong></p>
                <p>{{ (replace (replace (i18n "action_description") "$ORGS" (partial "functions/count_organisations.html" .) ) "$INDS" (partial "functions/count_signatures.html" .))  | markdownify }}</p>

                {{ partial "functions/sign-form.html" . }}
            </div>
        </div>
    </div>
</section>
