{{ "<!-- RESOURCES -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="no-padding" id="resources">
    <div class="container-fluid">
      <h2 class="hidden">{{ i18n "navigation_links_resources" }}</h2>
        <div class="row no-gutter">
            {{ range .Site.Params.resources.list }}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ replaceRE "^/(.*)" ("$1" | relLangURL) .link }}" target="{{ .target }}" class="resources-box resources-link">
                        <img src="{{ .img }}" class="img-responsive" alt="" />
                        <div class="resources-box-caption">
                            <div class="resources-box-caption-content">
                                <div class="resource-name">
                                    {{ i18n (delimit (slice "resources_list_title_" .no) "") }}
                                </div>
                                <div class="resource-description">
                                    {{ i18n (delimit (slice "resources_list_description_" .no) "") }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
