{{ "<!-- SPREAD -->" | safeHTML }}
<section id="spread" class="bg-dark">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">{{ i18n "spread_headline" }}</h2>
              <p class="text-faded">{{ i18n "spread_promoText" | markdownify }}</p>
              <a href="{{ .Site.Params.static.promoLink }}" class="btn btn-default btn-xl page-scroll wow tada">{{ i18n "spread_promoButtonText" }}</a>
              <hr class="light">
              <p class="text-faded">{{ i18n "spread_shareText" | markdownify }}</p>
              
              <div class="share-buttons">

              {{ $data := index .Site.Data.share .Site.Language.Lang }}
              {{ partial "functions/share_buttons.html" (dict "type" "spread" "defaultSocialText" (i18n "spread_defaultSocialText") "url" .Site.Params.static.url "lang" ("/" | relLangURL) "data" $data) }}
              </div>
            </div>
        </div>
    </div>
</section>
