{{ "<!-- SIGNATURES -->" | safeHTML }}
<section class="bg-primary" id="signatures">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ i18n "subpage_signatures_headline" }}</h2>
                
                <hr class="light">

                <p class="text-faded">{{ i18n "subpage_signatures_description" | markdownify }} 
                <a href="{{ "#action" | relLangURL }}"><strong>{{ i18n "action_form_submit" }}</strong></a></p>

                <!-- If you change something here, also change layouts/shortcodes/show_signature.html -->
                <table id="sigtable">
                  <thead>
                    <tr>
                      <th>{{ i18n "subpage_signatures_tableName" }}</th>
                      <th>{{ i18n "subpage_signatures_tableCountry" }}</th>
                      <th>{{ i18n "subpage_signatures_tableComment" }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ $json := getJSON "data/signatures/signatures.json" }}
                    {{ $json := where $json "include_vars.permissionPub" "yes" }}

                    {{ range sort $json "timestamp" "desc" | first 10 }}
                       <tr>
                          <td>{{ .include_vars.name }}</td>
                          <td>{{ .include_vars.country }}</td>
                          <td>{{ .include_vars.comment }}</td>
                       </tr>
                    {{ end }}
                  </tbody>
                </table>

                <p class="text-faded">{{ i18n "subpage_signatures_allSignatures" | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
