/*
* SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V. <https://fsfe.org>
* SPDX-License-Identifier: CC0-1.0
*
* share-buttons: Share buttons for many social networks and services
* Upstream: https://git.fsfe.org/FSFE/share-buttons
*/

/* This extra CSS file outsources the colors and paths of the service
 * buttons and their images. This makes updating to a newer version
 * of share-buttons easier if one is not using the default structure */

/* ********
 * SERVICES
 * ********/

/* Single services with their colours and logos */
.share-buttons .share-fediverse {
  background-color: #2b90d9;
  background-image: url("/img/service-icons/fediverse_white.png");
}

.share-buttons .share-mastodon {
  background-color: #2a8fd8;
  background-image: url("/img/service-icons/mastodon_white.png");
}

.share-buttons .share-reddit {
  background-color: #ff5700;
  background-image: url("/img/service-icons/reddit_white.png");
}

.share-buttons .share-flattr {
  background-color: #7ea352;
  background-image: url("/img/service-icons/flattr_white.png");
}

.share-buttons .share-hnews {
  background-color: #ff6600;
  background-image: url("/img/service-icons/hackernews_white.png");
}

.share-buttons .share-twitter {
  background-color: #55acee;
  background-image: url("/img/service-icons/twitter_white.png");
}

.share-buttons .share-facebook {
  background-color: #3b5998;
  background-image: url("/img/service-icons/facebook_white.png");
}

.share-buttons .share-gplus {
  background-color: #d34836;
  background-image: url("/img/service-icons/gplus_white.png");
}

.share-buttons .share-mail {
  background-color: #6e6e6e;
  background-image: url("/img/service-icons/mail_white.png");
}

.share-buttons .share-rss {
  background-color: #f69f00;
  background-image: url("/img/service-icons/rss_white.png");
}

.share-buttons .share-cal {
  background-color: #0eddaa;
  background-image: url("/img/service-icons/cal_white.png");
}

.share-buttons .share-news {
  background-color: #202c78;
  background-image: url("/img/service-icons/news_white.png");
}

.share-buttons .share-podcast {
  background-color: #3394ce;
  background-image: url("/img/service-icons/podcast_white.png");
}

.share-buttons .share-peertube {
  background-color: #f2690d;
  background-image: url("/img/service-icons/peertube_white.png");
}

.share-buttons .share-youtube {
  background-color: #ff2020;
  background-image: url("/img/service-icons/youtube_white.png");
}

.share-buttons .share-sharepic {
  background-color: #c12ab7;
  background-image: url("/img/service-icons/sharepic_white.png");
}

.share-buttons .share-support {
  background-color: #47a447;
  background-image: url("/img/service-icons/support_red.png");
}
.share-buttons.spread .share-support {
  padding-left: 30px !important;
}
.share-buttons.spread .share-support::before {
}
