<!-- If you change something here, also change layouts/partial/sub-pages/sigtable.html -->
<table id="sigtable">
  <thead>
    <tr>
      <th>{{ i18n "subpage_signatures_tableName" }}</th>
      <th>{{ i18n "subpage_signatures_tableCountry" }}</th>
    </tr>
  </thead>
  <tbody>
    {{ $signatures := resources.Get "signatures/signatures.json" | transform.Unmarshal }}
    {{ $signatures := where $signatures "include_vars.permissionPub" "yes" }}
    {{ $countries := resources.Get "countries/countries.json" | transform.Unmarshal }}

    {{ range sort $signatures "timestamp" "desc" }}
       <tr>
          <td>{{ .include_vars.name }}</td>
          <td>{{ (index (where $countries "genc2a" .include_vars.country) 0).name | default .include_vars.country}}</td> <!-- finds the two-letter code in countries.json (first match), and prints the full name -->
       </tr>
    {{ end }}
  </tbody>
</table>
