<div class="infotext {{ .class }}">
  <span>
    {{- if in (i18n "legal_by") "Free Software Foundation Europe" -}}
      {{ replace (i18n "legal_by") "Free Software Foundation Europe" "<a href='https://fsfe.org' target='_blank' class='hiddenlink'><img src='/img/fsfe-logo-cut.png' alt='FSFE logo' /></a>" | safeHTML }}
    {{- else -}}
      {{ i18n "legal_by" }} <a href='https://fsfe.org' target='_blank' class='hiddenlink'><img src='/img/fsfe-logo-cut.png' alt='FSFE logo' /></a>
    {{- end -}}
  </span>
</div>
