<!DOCTYPE html>
{{ $data := index .Site.Data .Site.Language.Lang }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        
        {{ partial "nav.html" . }}
        
        {{ partial "start.html" . }}

        {{ partial "about.html" . }}

        {{ partial "arguments.html" . }}

        {{ partial "action.html" . }}

        {{ partial "organisations.html" . }}

        {{ partial "resources.html" . }}

        {{ partial "spread.html" . }}

        {{ partial "language.html" . }}

        {{ partial "legal.html" . }}
        
        {{ partial "sharecolumn.html" . }}
        
        {{ partial "action-box.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
